.chart-container {
    position: relative;
    border: 1px solid #d1d5db;
    place-items: center;
    top: 50%;
    left: 25%;
}

.content {
    height: auto;
}
.obscured {
    opacity: 0.4; /* Makes the content semi-transparent */
    pointer-events: none;
}

/* Modern button style */
.modern-button {
    background-color: #6200ea; /* Primary color */
    border: none; /* Remove default border */
    border-radius: 25px; /* Rounded corners */
    color: #ffffff; /* Text color */
    padding: 12px 24px; /* Padding for size */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Spacing between letters */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.modern-button:hover {
    background-color: #3700b3; /* Darker shade on hover */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    transform: translateY(-3px); /* Lift the button on hover */
}

.modern-button:active {
    background-color: #3700b3; /* Darker shade */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Reduce shadow on click */
    transform: translateY(2px); /* Press down effect */
}
