.flex-1 {
    flex: 1 1 0%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.inline-block {
    display: inline-block;
}

.rounded {
    border-radius: 0.25rem;
}

.px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.py-0\.5 {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.text-xs {
    font-size: 0.75rem;
    margin-inline: 0.3rem;
}

.uppercase {
    text-transform: uppercase;
}

.no-underline {
    text-decoration: none;
}

.bg-yellow-300 {
    background-color: #f6e05e;
}

.mr-2 {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

.bg-purple-300 {
    background-color: rgb(216, 180, 254);
}
code {
    background-color: #e0e0e0; /* Grey background */
    padding: 2px 4px;
    border-radius: 3px;
    font-family: "Courier New", Courier, monospace;
    font-size: 90%;
}

ul li {
    margin-bottom: 10px; /* Adjust the margin value as needed */
}
